.error {
    color: #f44336;
    font-size: 14px;
}

.center {
    text-align: center;
}

#header {
    color: #fff;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #5a5a5a;
    display: flex;
}

.logo {
    margin: auto;
}

#surrender-wrapper {
    margin: auto;
}

#game-info {
    margin: auto;
    flex: 1;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

#clicks-count-wrapper {
    flex: 1;
}

.right {
    float: right;
}

#goal, #clicks-count {
    font-size: 20px;
}

#popup {
    background-color: #5a5a5a;
    font-size: 16px;
    display: none;
    position: absolute;
    width: 20%;
    word-wrap: break-word;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #fff;
    z-index: 1;
}

.authorization {
    margin: auto;
}

.username {
    margin: auto;
    font-size: 24px;
}

#from, #to {
    margin: 5px;
}

#from-to-wrapper {
    margin: 10px;
}

.big-button {
    font-size: 24px;
    margin: 10px 10px;
    padding: 20px;
}

.game-pages, .game-start-end-pages {
    margin-bottom: 10px;
}

.button-play {
    margin: 0;
}

.button {
    border-radius: 5px;
    background-color: #ef6c00;
    padding: 5px 15px;
    text-transform: uppercase;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    color: #000;
    background-color: #fb8c00;
}

#wiki-wrapper {
    position: fixed;
    width: 100%;
    top: 50px;
    bottom: 0;
}

#wiki {
    border-style: none;
    width: 100%;
    height: 100%;
}

.games-list {
    display: inline-block;
    margin: 10px;
    width: 60%;
}

.games-list-item {
    margin: 10px;
    padding: 10px;
    border-radius : 3px;
    background-color: #fafafa;
    border: 1px solid #bbbbbb;
}

.game-pages {
    font-size: 14px;
}

.game-pages .page-title:last-child, .game-pages .page-title:first-child {
    font-weight: bold;
}

.game-pages .page-title:not(:last-child):after {
    content: ' → ';
}

a {
    margin: auto 10px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

a:not(.button):hover {
    text-decoration: underline;
}

input[type="button"], input[type="submit"] {
    outline: none;
    font-size: inherit;
    border: none;
    font-weight: normal;
    color: #fff;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
}
