<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{auth.login}"></title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="center">
    <div class="block form">
        <form action="#" th:action="@{/login}" method="post">
            <input name="username" placeholder="Логин" th:placeholder="#{auth.username}" autofocus="autofocus"/>
            <input name="password" placeholder="Пароль" th:placeholder="#{auth.password}" type="password"/>
            <p class="error" th:if="${error}" th:text="#{auth.login.fail}">Неверный логин или пароль</p>
            <input class="button" type="submit" value="Вход" th:value="#{auth.login}"/>
        </form>
    </div>
</div>
</body>
</html>