<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{auth.login}"></title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<form id="form-sign-in" action="#" th:action="@{/login}" method="post">
    <input name="username" th:placeholder="#{auth.username}" autofocus="autofocus"/>
    <input name="password" th:placeholder="#{auth.password}" type="password"/>
    <input class="button" type="submit" value="Вход" th:value="#{auth.login}"/>
    <a th:href="@{/registration}" href="/registration" th:text="#{auth.signup}">Регистрация</a>
</form>
</body>
</html>